Repository rsarwad/magma, changes with the owners that CODEOWNERS names for each.
All owners: @xjtian, @tmdzk, @rdefosse, @mpgermano, @hcgatewood, @emakeev, @themarwhal, @uri200, @ardzoht, @ssanadhya, @ulaskozat, @lionelgo, @kkahrs, @koolzz, @pshelar, @karthiksubraveti, @andreilee, @amarpad

Added test case to validate resumption of Implicit detach timer on MME restart
  lte/gateway/python/integ_tests/s1aptests/test_implicit_detach_timer_with_mme_restart.py
Owners: @ssanadhya, @ulaskozat

Added code to handle T3460 timer as part of stateless MME
  lte/gateway/c/oai/tasks/nas/emm/Authentication.c
  lte/gateway/c/oai/tasks/nas/emm/SecurityModeControl.c
  lte/gateway/c/oai/tasks/nas/emm/emm_data.h
  lte/gateway/c/oai/tasks/nas/emm/emm_data_ctx.c
  lte/protos/oai/nas_state.proto
Owners: @ssanadhya, @ulaskozat, @lionelgo

Provided fixes for issues found during Paging Response timer testing
  lte/gateway/c/oai/lib/bstr/bstrlib.c
  lte/gateway/c/oai/lib/bstr/bstrlib.h
  lte/gateway/c/oai/tasks/grpc_service/proto_msg_to_itti_msg.cpp
  lte/gateway/c/oai/tasks/mme_app/mme_app_bearer.c
  lte/gateway/c/oai/tasks/mme_app/mme_app_context.c
  lte/gateway/c/oai/tasks/mme_app/mme_app_state_converter.cpp
  lte/gateway/c/oai/tasks/nas/nas_state_converter.cpp
  lte/gateway/c/oai/tasks/nas/nas_state_converter.h
  lte/gateway/c/oai/tasks/s1ap/s1ap_state_converter.cpp
  lte/gateway/c/oai/tasks/s1ap/s1ap_state_converter.h
  lte/protos/oai/nas_state.proto
  lte/protos/oai/s1ap_state.proto
Owners: @ssanadhya, @ulaskozat, @lionelgo

Configured recursive lock for hashlist, state_ue_ht
  lte/gateway/c/oai/lib/hashtable/hashtable.c
  lte/gateway/c/oai/lib/hashtable/hashtable.h
  lte/gateway/c/oai/tasks/mme_app/mme_app_state_manager.cpp
Owners: @ssanadhya, @ulaskozat, @lionelgo

[pipelined]Fix Early Rule Removal error (#5104)
  lte/gateway/python/magma/pipelined/app/enforcement_stats.py
Owners: @koolzz, @pshelar

[AGW] [MME] Clean up eNB state at restart to remove UEs without S1ap state (#5091)
  lte/gateway/c/oai/include/s1ap_state.h
  lte/gateway/c/oai/tasks/s1ap/s1ap_mme_handlers.c
  lte/gateway/c/oai/tasks/s1ap/s1ap_state.cpp
Owners: @ssanadhya, @ulaskozat, @lionelgo

Update install to support cloud based installation (#4859)
  docs/docusaurus/sidebars.json
  docs/readmes/lte/ha_setup.md
  lte/gateway/deploy/agw_install.sh
Owners: @xjtian, @ardzoht

[pipelined]Fix Null Rule Removal Error (#5094)
  lte/gateway/python/magma/pipelined/app/enforcement.py
Owners: @koolzz, @pshelar

Added SGW_S8 contexts
  lte/gateway/c/oai/include/sgw_context_manager.h
  lte/gateway/c/oai/include/sgw_s8_state.h
  lte/gateway/c/oai/include/spgw_types.h
  lte/gateway/c/oai/oai_mme/CMakeLists.txt
  lte/gateway/c/oai/oai_mme/oai_mme.c
  lte/gateway/c/oai/tasks/CMakeLists.txt
  lte/gateway/c/oai/tasks/gtpv1-u/CMakeLists.txt
  lte/gateway/c/oai/tasks/sgw/sgw_context_manager.c
  lte/gateway/c/oai/tasks/sgw/spgw_state.cpp
  lte/gateway/c/oai/tasks/sgw/spgw_state_manager.cpp
  lte/gateway/c/oai/tasks/sgw_s8/CMakeLists.txt
  lte/gateway/c/oai/tasks/sgw_s8/sgw_s11_handlers.h
  lte/gateway/c/oai/tasks/sgw_s8/sgw_s8_defs.h
  lte/gateway/c/oai/tasks/sgw_s8/sgw_s8_handlers.c
  lte/gateway/c/oai/tasks/sgw_s8/sgw_s8_task.c
  lte/gateway/c/oai/tasks/sgw_s8/sgw_state.cpp
  lte/gateway/c/oai/tasks/sgw_s8/sgw_state_converter.cpp
  lte/gateway/c/oai/tasks/sgw_s8/sgw_state_converter.h
  lte/gateway/c/oai/tasks/sgw_s8/sgw_state_manager.cpp
  lte/gateway/c/oai/tasks/sgw_s8/sgw_state_manager.h
Owners: @ssanadhya, @ulaskozat, @lionelgo

CODEOWNERS:

.circleci/ @xjtian @tmdzk
circleci/ @xjtian @tmdzk

ci-scripts/ @rdefosse @tmdzk

*/cloud/ @xjtian @mpgermano @hcgatewood

orc8r/ @xjtian @mpgermano @hcgatewood @emakeev

feg/ @themarwhal @mpgermano @uri200 @emakeev

openwrt/ @emakeev @uri200

# More specific mappings for lte/gateway will override this top-level one
lte/gateway @xjtian @ardzoht
lte/gateway/c/session_manager @themarwhal @uri200
lte/gateway/c/oai @ssanadhya @ulaskozat @lionelgo
lte/gateway/c/sctpd @ssanadhya @ulaskozat
lte/gateway/docker @rdefosse @tmdzk
lte/gateway/release @kkahrs
lte/gateway/python/magma/pipelined @koolzz @pshelar
lte/gateway/python/integ_tests @ssanadhya @ulaskozat

nms/ @karthiksubraveti @andreilee @xjtian

CODEOWNERS @xjtian @amarpad
